
<h1>Categories</h1></br>
<div class='control-group, pull-right'>
[<%=link_to 'Add Category', new_category_path %>]
</div>

<hr/>

<%@categories.each do |cat|%>
<div class="control-group">
<h2><%=link_to cat.name, category_path(cat)%></h2>
</div>
<%end%>